section{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 ;
    background-color: #012548;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height:700px;
    display: flex;
    margin: 0 auto;
    padding: 0 ;
    background-color: #012548;
    overflow: hidden;
}
.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 3s;
    margin-top: 100px;

}
.slide-box img{
    width: 100%;
    height: 80%;


}
